

:root {

    /**
      * COLORS
      */

    --G50: #656266;
    --G100: #B5B5B5;
    --G200: #303030;
    --G300: #1A1A1A;

    --font-light: #E3E3E3;
    --font-mid: #616161;
    --font-dark: #303030;

    --S50: #DBDBDB;
    --S100: #E1E1E1;
    --S200: #616161;

    --hover-state: #F1F1F1;
    --pressed-state: #F0F0F0;
    --focused-state: #005BD3;

    --white: #ffffff;
    --background: #f1f1f1;

    --green: #36FBA1;
    


    /**
      * TYPOGRAPHY
      */

    --font-family: 'Inter', sans-serif;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semiBold: 600;



    /**
      * SIZE
      */
    --header-height: 56px;
    --setup-guide-height-1: 120px;
    --setup-guide-height-2: 430px;



    /**
      * BORDER RADIUS
      */
    --radius-8: 8px;
    --radius-6: 6px;
    --radius-14: 14px;



    /**
      * BORDER RADIUS
      */
    --transition-short: 200ms;
    --transition-long: 500ms;



}


/**
*G100 - hsla(0, 0%, 71%, 1)
*G200 hsla(0, 0%, 19, 1)
* font/light: hsla(0, 0%, 89%, 1)
g50: hsla(285, 2%, 39%, 1)
*/





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

/* basic reset */
*, 
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, img, span, input, button { display: block }

li { list-style: none }

a {
    text-decoration: none; 
    color:inherit;
}

img { height: auto }

input, button {
    background: none; 
    border: none; 
    font: inherit; 
    color: inherit
}

input { width: 100% }

input[type="search"]::-webkit-search-cancel-button { color: var(--G100); }


/* primary container reset */
html {
  font-family: var(--font-family);
}

body {
  background-color: var(--background);
  /* color: var(--on-background);
  font-size: var(--body-3); */
  min-height: 100vh;
}

:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state)
}




/*-----------------------------------*\
  #FONT TYPE UTILITIES
\*-----------------------------------*/
.fs-small {
    font-size:  var(--fs-12);
    line-height: 130%;
    letter-spacing: 0%;
}

.fs-medium {
    font-size:  var(--fs-13);
    line-height: 140%;
    letter-spacing: 0%;
}

.fs-large {
    font-size:  var(--fs-14);
    line-height: 140%;
    letter-spacing: 0%;
}

.weight-regular { font-weight: var(--weight-regular);}

.weight-medium { font-weight: var(--weight-medium);}

.weight-semiBold { font-weight: var(--weight-semiBold);}

.font-light { color: var(--font-light) }

.font-dark { color: var(--font-dark, #303030) }

.font-mid { color: var(--font-mid) }





/*-----------------------------------*\
  #REUSABLE
\*-----------------------------------*/

.btn { background-color: var(--G200, #303030) }

.btn:hover { background-color: var(--font-mid, #616161); }

.btn:active {background: var(--G50, #656266);}

.btn:is(:focus, :focus-visible) {
  border: none;
  outline: 2px solid var(--focused-state);
  outline-offset: 1px;
  background: var(--G50, #656266);
}

.btn-2 {
    background-color: var(--white);
    color: var(--font-dark);
    padding: 6px 12px;
    border-radius: var(--radius-6);
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: inset 0px -1px 0px 0px #B5B5B5;
}

.btn-2:hover {
  background-color: #F7F7F7;
}

.btn-2:active {
  background-color: #F7F7F7;
  box-shadow: inset 0px 2px 1.5px 0px #E2E2E2 ;
}

.btn-2:focus {
  background-color: white;
  box-shadow:  0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #FFF, inset 0px -1px 0px 0px #B5B5B5;
}

.btn-3 {
  background-color: #404040;
  color: var(--font-light);
  padding: 6px 12px;
  border-radius: var(--radius-6);
  border-top: 1.5px solid rgba(255, 255, 255, 0.20);
  border-right: 1.5px solid rgba(255, 255, 255, 0.20);
  border-left: 1.5px solid rgba(255, 255, 255, 0.20);
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;;
}

.btn-3:hover { background-color: #2A2A2A; }

.btn-3:active {
  border: none;
  background: #2B2B2B;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
 }

.btn-3:focus {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
  background: #404040;
  box-shadow: none;
  outline: 2px solid var(--focused-state);
  outline-offset: 1px;

}

.hide {
  opacity: 0;
  visibility: visible;
  display: none;  
}

.state-change-1 { background-color: transparent; }

.state-change-1:hover { background: var(--hover-state, #F1F1F1); }

.state-change-1:active { background: var(--pressed-state, #F0F0F0); }

.state-change-1:is(:focus, :focus-visible) { 
  background-color: transparent;
  border: 2px solid var(--focused-state, #005BD3);
}






/*-----------------------------------*\
  #CONTAINER
\*-----------------------------------*/
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  width: 100%;
  height: var( --header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--G300);
  padding-inline: 16px; 
}

.main {
  width: 100%;
  min-height: calc(100% - var(--header-height));
  padding-block-start: var(--header-height);
}




/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.desktop-logo { display: none; }

.search-box { 
  position: relative;
  width: 100%;
  max-width: 480px;
  flex: 1 1 0;

}

.search-box > input {
    width: 100%;
    height: 32px;
    max-width: 480px;
    background-color: var(--G200);
    color: var(--G100);
    padding-block: 8px;
    padding-inline-end: 8px;
    padding-inline-start: 30px;
    border-radius: var(--radius-8);
    border: 1px solid var(--S200, #616161);
}

.search-box > input:hover { border: 1px solid var(--S100, #E1E1E1) }

.search-box > :is(input:active, input:focus){ border: 2px solid var(--white, #FFF) }

.search-box > svg {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.header-actions { 
  position: relative; 
  display: flex;
  gap: 8px;
}

.notify-btn {
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  border-radius: var(--radius-8);
}

.drop-menu {
  position: absolute;
  top: 56px;
  right: 0px;
  z-index: 3;
  opacity: 0;
  display: none;
}

.notify-menu {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  max-width: 358px;
  width: calc(100vw - 32px);

  border-radius: var(--radius-14);
  border: 1px solid var(--S50, #DBDBDB);
  background-color: white;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

  color: var(--font-dark);
}

.notify-menu.drop {
  display: flex;
  opacity: 1;
}

.notify-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 16px;
}

.notify-menu-header .title { margin-right: auto;}

.notify-menu-description {
  background-color: var(--hover-state, #f1f1f1);
  padding: 16px;
  text-align: center;
}

.store-btn {
  height: 32px;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--radius-8);
  /* padding-inline-start: 8px; */
  background-color: transparent;
}

.store-name { display:none; }

.store-initial {
  width: 28px;
  height: 28px;
  display: grid;
  place-content: center;
  color:rgba(0, 0, 0, 0.40);
  background-color: var(--green);
  border-radius: var(--radius-6);
}

.store-menu {
  max-width: 320px;
  width: calc(100vw - 32px);
  border-radius: var(--radius-14);
  padding-block: 6px;
  background-color: var(--white);
}

.store-menu.drop {
  display: block;
  opacity: 1;
}

.store-menu > div {
  padding-inline: 6px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: flex-start;
}

.store-menu > div:not(:last-child) {
  border-block-end: 0.75px solid var(--S100, #E1E1E1);
  padding-block-end: 1.625px;
}

.store-menu > div:not(:first-child) { padding-block-start: 1.625px; }

.store-menu a { width: 100% }

.store-name-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px 4px 8px;
  border-radius: var(--radius-8);
  background-color: var(--hover-state, #f1f1f1);
}

.store-name-link .store-initial {
  border-radius: 5.25px;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 140px;
  text-align: center
}

.store-name-link .name {
  margin-right: auto;
}

.store-menu-link {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  padding: 6px;
  border-radius: var(--radius-8);
  color: var(--font-dark);
  font-weight: var(--weight-regular);
  font-size:  var(--fs-13);
  line-height: 140%;
  letter-spacing: 0%;
  background-color: transparent; 
}

.store-menu-link:hover { background: var(--hover-state, #F1F1F1); }

.store-menu-link:active { background: var(--pressed-state, #F0F0F0); }

.store-menu-link:is(:focus, :focus-visible) { 
  background-color: transparent;
  border: 2px solid var(--focused-state, #005BD3);
}





/*-----------------------------------*\
  #TRIAL-EXTENSION 
\*-----------------------------------*/

.trial-extend {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  opacity: 1;
  visibility: visible;

  max-width: 800px;
  width: 100%;

  background-color: var(--G300);
  color: var(--font-light);

  padding: 12px 8px 12px 16px;
  margin-block-start: 28px;
  margin-inline: auto;
}

.trial-extend > .desc {
  width: calc(100% - 38px);
  max-width: max-content;

  color: var(--font-light);
}

.trial-extend > .dismiss {
  position: absolute;
  top: 12px;
  right: 0px;
  padding: 8px;
  background-color: var(--G300);
  border-radius: 10px;
}





/*-----------------------------------*\
  #THE SETUP GUIDE
\*-----------------------------------*/
.setup-guide {
  width: 100%;
  max-width: 800px;
  height: var(--setup-guide-height-1);

  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: hidden;

  margin-block-start: 16px;
  padding: 8px;
  background-color: var(--white);
  border: 1px solid var(--S50, #DBDBDB);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  margin-inline: auto;
  margin-block-end: 4px;
}

.sg-visible {
  position: relative;
  width: 100%;
  padding: 8px;
  color: var(--font-dark);
}

.sg-visible p {
  width: calc(100% - 30px);
  max-width: max-content;
  margin-block-end: 16px;
}

.setup-progress {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.drop-setup-steps {
  position: absolute;
  top: 8px;
  right: 8px;

  border-radius: var(--radius-6);
  padding: 4px;
}

.drop-setup-steps[aria-expanded="true"] svg {
  transform: rotate(-180deg);
}

.sg-invisible { opacity: 0; }

.setup-guide[aria-expanded="true"] .sg-invisible { opacity: 1; }

.sg-invisible > .sg-step {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;
  border-radius: 10px;
  margin-block-end: 1px;
  background-color: transparent;
}

.sg-step[aria-selected="true"],
.sg-step[aria-selected="true"]:focus
 { background-color: var(--hover-state);}

.sg-step:hover { background-color: var(--hover-state, #F1F1F1); }

.sg-step:active { background-color: var(--pressed-state, #F0F0F0); }

.sg-step:is(:focus-visible) { 
  background-color: transparent;
  border: 2px solid var(--focused-state, #005BD3);
}

.sg-step-content { 
  position: relative;
  flex: 1 1 0; 
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}

.sg-step[aria-selected="true"] .title { font-weight: var(--weight-semiBold); }

.sg-step-content .title { margin-block-start: 4px; }

.sg-step-content .sg-step-desc { 
  color: var(--font-mid);
  width: 95%;
  max-width: 484px;
}

.sg-step-content .sg-step-img {
  display: none;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.sg-step[aria-selected="false"] :is(.sg-step-desc, .btn-3, .sg-step-img){
  display: none;
}



.hide-height { height: 125px; }
.drop-height { height:max-content }

.sg-step-check {
  border-radius: var(--radius-6);
}


.hidden {
  display: none;
}

.sg-step-check:hover .initial-check circle {
  fill: var(--background);
  stroke-dasharray: 0 0;
}

.sg-step-check:focus .initial-check circle {
  fill: var(--pressed-state);
  stroke-dasharray: 0 0;
}

.sg-step-check:focus {
  border: 1px solid var(--hover-state);
  outline: 1px solid var(--focused-state);
  outline-offset: .5px;
}

.spinner-check {
  animation: spin 500ms linear infinite;
}

.mark-check {
  animation: markCheck 200ms linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes markCheck {
  from{
    transform: rotate(0deg) scale(0);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}







@media screen and (min-width: 764px) {
  .store-name { display: block; }
  .store-btn {
    padding-inline-start: 8px;
    background-color: var(--G200, #303030);
  }

  .trial-extend {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    padding: 12px 8px 12px 16px;
    border-radius: var(--radius-8);
  }

  .trial-extend > .desc { margin-inline-end: auto;  }

  .trial-extend > .dismiss {
    all: unset;
    padding: 6px;
    border-radius: var(--radius-6);
  }

  .setup-guide { border-radius: 18px; }

  .sg-step[aria-selected="true"] .sg-step-img {
    display: block;
  }
}




@media (prefers-reduced-motion: no-preference) {
    .notify-menu {
        transition: opacity var(--transition-short) ease-out;
    }

    .search-box > input {
      transition: border var(--transition-short);
    }

    .btn,
    .state-change-1 {
      transition: var(--transition-short) ease-in;
    }

    .trial-extend {
      transition: var(--transition-short) ease-out;
    }

    .drop-setup-steps[aria-expanded="true"] svg {
      animation: rotate180 var(--transition-long) ease forwards;;
    }

    .drop-setup-steps[aria-expanded="false"] svg {
      animation: rotate0 var(--transition-long) ease forwards;;
    }
    
    .hide {
      animation: hide var(--transition-short) ease-out forwards;
    }

    .hide-height {
      animation: hide-height var(--transition-long) ease forwards;
    }

    .drop-height {
      animation: drop-height var(--transition-long) ease forwards;
    }

    .sg-invisible{
      transition: opacity var(--transition-short) ease-out;
    }

    .sg-step-check circle {
      transition: var(--transition-short);
    }

    #progress-inner {
      transition: var(--transition-long);
    }

    .spinner-check {
      animation: spin 500ms linear infinite;
    }
    
    .mark-check {
      animation: markCheck 200ms linear;
    }
    
    @keyframes spin {
      0% {
        transform: rotate(0);
      }
    
      100% {
        transform: rotate(1turn);
      }
    }
    
    @keyframes markCheck {
      from{
        transform: rotate(0deg) scale(0);
      }
    
      to {
        transform: rotate(360deg) scale(1);
      }
    }
    
    @keyframes hide {
      0% {
        opacity: 1;
        visibility: visible;
      }
    
      99% {
        opacity: 0;
        visibility: hidden;
      }
    
      100% {
        display: none;
      }
    }

    @keyframes rotate180 {
      0% {
        transform: rotate(0deg) ;
      }

      100% {
        transform: rotate(180deg);
      }
    }

    @keyframes rotate0 {
      0% {
        transform: rotate(180deg) ;
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes hide-height {
      0% {
        height: var(--setup-guide-height-2);
      }

      99%{
        height: var(--setup-guide-height-1);
      }

      100% {
        overflow-y: hidden;
      }
    }

    @keyframes drop-height {
      0% {
        height: var(--setup-guide-height-1);
      }

      99%{
        height: var(--setup-guide-height-2);
      }

      100% {
        overflow-y: visible;
      }
    }
}