

:root {

    /**
      * COLORS
      */

    --G50: #656266;
    --G100: #B5B5B5;
    --G200: #303030;
    --G300: #1A1A1A;

    --font-light: #E3E3E3;
    --font-mid: #616161;
    --font-dark: #303030;

    --S50: #DBDBDB;
    --S100: #E1E1E1;
    --S200: #616161;

    --hover-state: #F1F1F1;
    --pressed-state: #F0F0F0;
    --focused-state: #005BD3;

    --white: #ffffff;
    --background: #f1f1f1;

    --green: #36FBA1;


    /**
      * TYPOGRAPHY
      */

    --font-family: 'Inter', sans-serif;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semiBold: 600;



    /**
      * SIZE
      */
    --header-height: 56px;



    /**
      * BORDER RADIUS
      */
    --radius-8: 8px;
    --radius-14: 14px;



    /**
      * BORDER RADIUS
      */
    --transition-short: 200ms;
    --transition-long: 500ms;
}


/**
*G100 - hsla(0, 0%, 71%, 1)
*G200 hsla(0, 0%, 19, 1)
* font/light: hsla(0, 0%, 89%, 1)
g50: hsla(285, 2%, 39%, 1)
*/





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

/* basic reset */
*, 
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, img, span, input, button { display: block }

li { list-style: none }

a {
    text-decoration: none; 
    color:inherit;
}

img { height: auto }

input, button {
    background: none; 
    border: none; 
    font: inherit; 
    color: inherit
}

input { width: 100% }

input[type="search"]::-webkit-search-cancel-button { color: var(--G100); }


/* primary container reset */
html {
  font-family: var(--font-family);
}

body {
  background-color: var(--background);
  /* color: var(--on-background);
  font-size: var(--body-3); */
  min-height: 100vh;
}

:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state)
}





/*-----------------------------------*\
  #FONT TYPE UTILITIES
\*-----------------------------------*/
.fs-small {
    font-size:  var(--fs-12);
    line-height: 130%;
    letter-spacing: 0%;
}

.fs-medium {
    font-size:  var(--fs-13);
    line-height: 140%;
    letter-spacing: 0%;
}

.fs-large {
    font-size:  var(--fs-14);
    line-height: 140%;
    letter-spacing: 0%;
}

.weight-regular { font-weight: var(--weight-regular);}

.weight-medium { font-weight: var(--weight-medium);}

.weight-semiBold { font-weight: var(--weight-semiBold);}

.font-light { color: var(--font-light) }

.font-dark { color: var(--font-dark, #303030) }

.font-mid { color: var(--font-mid) }





/*-----------------------------------*\
  #REUSABLE
\*-----------------------------------*/

.btn { background-color: var(--G200, #303030) }

.btn:hover { background-color: var(--font-mid, #616161); }

.btn:active {background: var(--G50, #656266);}

.btn:is(:focus, :focus-visible) {
  border: none;
  outline: 2px solid var(--focused-state);
  outline-offset: 1px;
  background: var(--G50, #656266);
}

.btn-2 {
    background-color: var(--white);
    color: var(--font-dark);
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: inset 0px -1px 0px 0px #B5B5B5;
}

.btn-2:hover {
  background-color: #F7F7F7;
}

.btn-2:active {
  background-color: #F7F7F7;
  box-shadow: inset 0px 2px 1.5px 0px #E2E2E2 ;
}

.btn-2:focus {
  background-color: white;
  box-shadow:  0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #FFF, inset 0px -1px 0px 0px #B5B5B5;
}

.hide {
  opacity: 0;
  visibility: visible;
  display: none;  
}






/*-----------------------------------*\
  #CONTAINER
\*-----------------------------------*/
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  width: 100vw;
  height: var( --header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--G300);
  padding-inline: 16px; 
}

.main {
  width: 100%;
  min-height: calc(100% - var(--header-height));
  padding-block-start: var(--header-height);
}




/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.desktop-logo { display: none; }

.search-box { 
  position: relative;
  width: 100%;
  max-width: 480px;
  flex: 1 1 0;

}

.search-box > input {
    width: 100%;
    height: 32px;
    max-width: 480px;
    background-color: var(--G200);
    color: var(--G100);
    padding-block: 8px;
    padding-inline-end: 8px;
    padding-inline-start: 30px;
    border-radius: 8px;
    border: 1px solid var(--S200, #616161);
}

.search-box > input:hover { border: 1px solid var(--S100, #E1E1E1) }

.search-box > :is(input:active, input:focus){ border: 2px solid var(--white, #FFF) }

.search-box > svg {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.header-actions { 
  position: relative; 
  display: flex;
  gap: 8px;
}

.notify-btn {
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  border-radius: var(--radius-8);
}

.drop-menu {
  position: absolute;
  top: 56px;
  right: 0px;
  z-index: 3;
  opacity: 0;
  display: none;
}

.notify-menu {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  max-width: 358px;
  width: calc(100vw - 32px);

  border-radius: var(--radius-14);
  border: 1px solid var(--S50, #DBDBDB);
  background-color: white;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

  color: var(--font-dark);
}

.notify-menu.drop {
  display: flex;
  opacity: 1;
}

.notify-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 16px;
}

.notify-menu-header .title { margin-right: auto;}

.notify-menu-description {
  background-color: var(--hover-state, #f1f1f1);
  padding: 16px;
  text-align: center;
}

.store-btn {
  height: 32px;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--radius-8);
  /* padding-inline-start: 8px; */
  background-color: transparent;
}

.store-name { display:none; }

.store-initial {
  width: 28px;
  height: 28px;
  display: grid;
  place-content: center;
  color:rgba(0, 0, 0, 0.40);
  background-color: var(--green);
  border-radius: 6px;
}

.store-menu {
  max-width: 320px;
  width: calc(100vw - 32px);
  border-radius: var(--radius-14);
  padding-block: 6px;
  background-color: var(--white);
}

.store-menu.drop {
  display: block;
  opacity: 1;
}

.store-menu > div {
  padding-inline: 6px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: flex-start;
}

.store-menu > div:not(:last-child) {
  border-block-end: 0.75px solid var(--S100, #E1E1E1);
  padding-block-end: 1.625px;
}

.store-menu > div:not(:first-child) { padding-block-start: 1.625px; }

.store-menu a { width: 100% }

.store-name-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px 4px 8px;
  border-radius: 8px;
  background-color: var(--hover-state, #f1f1f1);
}

.store-name-link .store-initial {
  border-radius: 5.25px;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 140px;
  text-align: center
}

.store-name-link .name {
  margin-right: auto;
}

.store-menu-link {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  padding: 6px;
  border-radius: var(--radius-8);
  background-color: transparent;
  color: var(--font-dark);
  font-weight: var(--weight-regular);
  font-size:  var(--fs-13);
  line-height: 140%;
  letter-spacing: 0%;
}

.store-menu-link:hover { background: var(--hover-state, #F1F1F1); }

.store-menu-link:active { background: var(--pressed-state, #F0F0F0); }

.store-menu-link:focus-visible { 
  background-color: transparent;
  border: 2px solid var(--focused-state, #005BD3);
}





/*-----------------------------------*\
  #TRIAL-EXTENSION 
\*-----------------------------------*/

.trial-extend {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  opacity: 1;
  visibility: visible;

  max-width: 800px;
  width: 100%;

  background-color: var(--G300);
  color: var(--font-light);

  padding: 12px 8px 12px 16px;
  margin-block-start: 28px;
  margin-inline: auto;
}

.trial-extend > .desc {
  width: calc(100% - 38px);
  max-width: max-content;

  color: var(--font-light);
}

.trial-extend > .dismiss {
  position: absolute;
  top: 12px;
  right: 0px;
  padding: 8px;
  background-color: var(--G300);
  border-radius: 10px;
}







@media screen and (min-width: 764px) {
  .store-name { display: block; }
  .store-btn {
    padding-inline-start: 8px;
    background-color: var(--G200, #303030);
  }

  .trial-extend {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    padding: 12px 8px 12px 16px;
    border-radius: 8px;
  }

  .trial-extend > .desc { margin-inline-end: auto;  }

  .trial-extend > .dismiss {
    all: unset;
    padding: 6px;
    border-radius: 6px;
  }
}




@media (prefers-reduced-motion: no-preference) {
    .notify-menu {
        transition: opacity var(--transition-short) ease-out;
    }

    .search-box > input {
      transition: border var(--transition-short);
    }

    .btn {
      transition: var(--transition-short) ease-in;
    }

    .trial-extend {
      transition: var(--transition-short) ease-out;
    }

    .hide {
      animation: hide var(--transition-short) ease-out forwards;
    }
    
    @keyframes hide {
      0% {
        opacity: 1;
        visibility: visible;
      }
    
      99% {
        opacity: 0;
        visibility: hidden;
      }
    
      100% {
        display: none;
      }
    }
}